@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300&subset=cyrillic-ext');

html{
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}


/* Настройка навигационной панели наверху сайта 
-------------------------------------------------- */

#navigation-top-panel {
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.contact-number{
  font-weight: 400;
  color: #00989f;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  text-align: center
}

.contact-number h5{
  margin-bottom: 0;
}

.contact-number p{
  color: #525252;
  margin: 0;
}
.contact-number li{
  padding: 0 15px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    
  }
  
  /* Flip around the padding for proper display in narrow viewports */
  .navbar-wrapper .container {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }
/* Настройка слайдера-карусели
-------------------------------------------------- */

/* Базовый класс */
.carousel {
    height: 500px;
    margin-bottom: 60px;
  }

.carousel-caption {
    z-index: 10;
  }
  
  /* Объявление высоты, поскольку используется позиционирование изображения */
.carousel .item {
    height: 500px;
    background-color: #777;
  }
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
    opacity: 0.4;
  }
  
.carousel-caption p {
    margin-bottom: 60px;
    font-size: 21px;
    line-height: 1.4;
  }

/* Маркетинг (товары и услуги с кратким описанием)
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.merchandise {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
  }
  
.hr-margin{
    margin: 40px 0;
}

.bottom-margin {
    margin-bottom: 30px;
}

.copyright{
  text-align: center;
}

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

/* Четвертый лист с информацией о контактах */

#section4{
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Настройка слайдера-карусели партнеров */

#slider-partners{
  height: 270px;
}

/* Высота строки карусели */

#slider-partners .item{
  height: 270px;
  background: rgb(58, 58, 58);
}

#slider-partners .carousel-caption{
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}

#slider-partners p{
  margin-bottom: 0;
}

#slider-partners a{
  color: #ffffff;
}

.partners-control{
  height: 270px;
}

.partners-img{
  height: 150px;
  padding: 5px;
  background: white;
  width: 215px;
  padding: 20px;
}